/* *:focus{
    outline: none;
}

body {
    margin: 0;
    font-family: "Raleway",sans-serif;
}

.whiteh1 {
    margin-bottom: 12px;
    font-size: 33px;
    color: #fff;
    padding: 0 10%;
}

.whiteh3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
    padding: 0 10%;
}

.music-player {
    display: block;
    position: relative;
    width: 350px;
    height: 470px;
    margin: auto;
    margin-top: 2.7%;
    border-radius: 10px 10px 10px 10px;
    background: transparent linear-gradient(to bottom,rgba(47, 47, 51, 0.9) 50%,rgb(51, 51, 53) 70%);
    box-shadow: 1px 10px 20px 5px;
}

.cover {
    float: left;
    width: 100%;
    height: 66%;
}

.cover img {
    display: block;
    position: absolute;
    top: 8%;
    left: 14%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.titre {
    float: left;
    width: 100%;
}

.lecteur {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    float: left;
} */