{% extends 'base.html' %}

{% block title %}Article Post{% endblock title %}

{% block content %}
    {% for posts in object_list %}
        <div>
            <div>
                <span class="text-muted">by <a href="{% url 'post_detail' posts.pk %}">{{ posts.author }}</a> |
                <span class="font-weight-bold">{{ posts.title }}</span></span>
            </div>
            <div class="card-body">
                <p>{{ posts.body }}</p>
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock content %}