{% extends 'base.html' %}

{% block title %}Artist Song{% endblock title %}

{% block content %}
<div class="music-player">
   <div class="cover">
        <img id="img" src="{{ object.image.url }}" width="240">
   </div>
   <div class="title">
    <h3 class="whiteh3"> {{object.artist}} </h3>
    <h1 class="whiteh1">{{object.title}} </h1>
   </div>
   <div class="lecteur">
    &nbsp; &nbsp; &nbsp; &nbsp;
    <audio controls>
        <source src="{{ object.audio_file.url }}" type="audio/mp3">
    </audio>
   </div>
</div>
{% endblock content %}