{% extends 'base.html' %}

{% block title %}Artist Post{% endblock title %}

{% block content %}
    {% for artist in all_user_list %}
        {% if 'artist' in artist.roles %}
        <div class="card-header ml-1 mr-2 mb-3">
            <img src="{{ artist.image.url }}" width="140">
            <h4><a href="{% url 'user_profile' artist.pk %}">{{ artist }}</a> | <a href="{% url 'artist_song' artist.pk %}">{{ artist.pk }}</a></h4>  
        </div> 
        
        {% endif %}
    {% endfor %}
{% endblock content %}
