{% extends 'base.html' %}

{% block title %}Article Post{% endblock title %}

{% block content %}
    {% for posts in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="text-muted">by <a href="{% url 'user_profile' posts.pk %}">{{ posts.author }}</a> |
                <span class="font-weight-bold"><a href="{% url 'post_detail' posts.pk %}">{{ posts.title }}</a></span></span>
            </div>
            <div class="card-body">
                <p>{{ posts.body }}</p>
            </div>
            
            <div class="card-footer">
                <h4>Comments:</h4>
                <h6>Add a <a href="{% url 'add_comment' posts.pk %}">Comment</a></h6>
                <br>
                {% if not posts.comments.all %}
                     <h6>No Comments Yet...<a href="{% url 'add_comment' posts.pk %}">Add One</a></h6>
                {% else %}
                <h6>Add a <a href="{% url 'add_comment' posts.pk %}">Comment</a></h6>
                <br>
                    {% for comment in posts.comments.all %}
                        <strong>
                            {{ comment.name }} |
                            {{ comment.data_added }}
                        </strong>
                        <br>
                        <div class="card container-fluid" >
                        {{ comment.body }}
                        </div>
                        <a href="{% url 'comment_edit' comment.pk %}">Edit</a> |
                        <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock content %}