{% extends 'base.html' %}

{% block title %}Artist Song{% endblock title %}

{% block content %}
<div class="music-player">
   <div class="cover">
        <img src="{{ object.image.url }}" width="240"/>
   </div>
   <div class="titre">
    <h3>
     {{object.artist}}
    </h3>
    <h1>
     {{object.title}}
    </h1>
   </div>
   <div class="lecteur">
    <audio class="fc-media" style="width: 100%">
        <source src="{{ object.audio_file.url }}" type="audio/mp3">
    </audio>
   </div>
</div>
{% endblock content %}