{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Artist</h5>
          <p class="card-text">Artist Content</p>
          <a href="{% url 'Artist_list' %}" class="btn btn-primary">DetailView</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">New Articles</h5>
            <p class="card-text">Article Content</p>
            <a href="#" class="btn btn-primary">DetailView</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}