{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}

{% block content %}
<div class="row py-4 px-8">
    <div class="col-md-9 mx-auto">
        <!-- Profile widget -->
        <div class="bg-dark shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">   
                        <img src="{{ object.profile_picture.url }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <a href="#" class="btn btn-outline-light btn-sm btn-block">Edit profile</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-3 mb-1">{{ object.username }}</h4>
                        <p class="small mb-4">
                        {% if 'artist' in roles %}
                             <i class="fas fa-map-marker-alt mr-2"></i>Artist &#127925;
                        {% elif 'listener' in roles %}
                             <i class="fas fa-map-marker-alt mr-2"></i>Listener &#127911;
                        {% endif %}
                        </p>
                        <p class="small mt--10">
                        <i class="fas fa-map-marker-alt mr-2"></i>{{ object.genre }}
                        </p>
                        <form action="{% url 'follow_user' customuser.pk %}" method="POST" class="md-2">
                            {% csrf_token %}
                            <button type="submit" name="become_follower" value="{{ to_customuser_id }}" class="btn btn-primary btn-sm">Follow</button>
                        </form>
                    </div>
                    <div class="media-body mt-6 mb-5 text-white">
                        <h4>About</h4>
                    </div>
                </div>
            </div>
            <li>

            </li>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ object.total_likes }}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Likes</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ object.total_follower }}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="px-4 py-3">
            <h4 class="md-0">Article Posts</h4>
            {% for p in local_posts %}
                <div class="card">
                    <div class="card-body">
                    <h5>{{ p.title }}</h5>
                        {{ p.body }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div> 
{% endblock content %}